@charset "UTF-8";

html{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body{
    background-image:url('wallpaperflare.com_wallpaper.jpg');
    /* background-image: linear-gradient(45deg, #a749f5, #d349f5); */
    height: 100%;
    width: 100%;
}
#menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -5px white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
h1{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
}
.input{
    position: relative;
    margin: 20px;
}
#email:focus{
    outline: none;
    border: 2px solid blue;
}
#password:focus{
    outline: none;
    border: 2px solid blue;
}
.placeholder{
    margin: 0px;
    position: absolute;
    top: 19px;
    left: 15px;
    transition: .2s;
    pointer-events: none;
}
#email{
    padding-left: 10px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(114, 215, 255);
}
.input #email:focus ~ #placeholderE{
    background-color: rgb(255, 255, 255);
    top: -8px;
    left: 18px;
    font-size: 14px;
    color: blue;
}
#password{
    padding-left: 10px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    border: 2px solid rgb(114, 215, 255);
}
.focadoP{
    background-color: white;
    top: -8px;
    left: 18px;
    font-size: 14px;
    color: blue;
}
button{
    margin: 0px 150px;
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 30px;
    position: relative;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
}
button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    transition: all 0.2s ease-out;
}
button:hover::before {
    animation: sh02 0.5s 0s linear;
}
button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
}
@keyframes sh02 {
from {
    opacity: 0;
    left: 0%;
}

50% {
    opacity: 1;
}

to {
    opacity: 0;
    left: 100%;
}
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}
p{
    color: #b8b8b8;
}